{
	log {
		output stdout
		level {$LOG_LEVEL:ERROR}
		format {$LOG_FORMAT:json}
	}
}

www.dev.demo1.io {
	tls internal
    root * {$HTML_CONTENT_FOLDER}
    file_server
}

api.dev.demo1.io {
	tls internal
	root * {$PHP_ROOT_FOLDER}
	php_fastcgi {$PHP_CONTAINER_NAME}:{$PHP_PORT}
	rewrite * /index.php
}
